/* SIde Post */
.sidebar-widget{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
.categories-widget .categories-div{

    justify-content: space-between;
}
.categories-widget .categories-div .category-widget-link{
    font-weight: 700;
}
.category-widget-link{
    background-color: #f67280;
    color: #ffffff;
    padding: 2px 15px;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 13px;
    border-radius: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
}
.category-widget-test{
    float: right;
    color: #506172;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto!important;
}

.latest-post{
    margin-bottom: 30px;
    margin-top: 5px;
}
.latest-post h5{
    font-weight: 900;
    line-height: 1.4;
    color: #152035;
    margin: 0;
    font-size: 20px;
}
.last-post{
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.last-post .last-post-image{
    width: 90px;
    height: 90px;
    margin-right: 15px;
    margin-top: 0 !important;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.last-post .last-post-image .last-post-img{
    border-radius: 20px;
    width: 90px;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.9s ease-in-out;
}

.last-post-img{
    max-width: 100%;
}
.last-post-img{
    vertical-align: middle;
    border-style: none;
}

.last-post-content{
    width: calc(100% - 90px);
}
.last-post-content p{
    font-weight: 900;
    color: #152035;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}
.last-post-content p:hover{
    color: #f67280;
}
.last-post-content small{
    display: flex;
    align-items: center;
    margin-top: 8px;
    text-transform: capitalize;
    font-size: 13px;
    color: #506172;
    font-weight: 400;
}
.last-post-content small span {
    color: #f67280;
    margin-right: 5px;
    direction: ltr;
}